/*.bg-light {
    border: 1px solid black;
    height: 400px;
    width: 200px;
    
    background-image: url(https://i.pinimg.com/564x/7a/33/ac/7a33acc2542cbdac7ed83f3876a8cf3d.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }*/