

  .formbox { 
    box-sizing: border-box;
    width: 100%;
    border: 100px solid black;
    float: left;
    align-content: center;
    align-items: center;
}
   
form {   
    margin: 0 auto;
    width: 600px;
}

.img {
    width: 100%;
}

@media(max-width: 420px) {
    .img {
        width: 32%;
        display: url('file:///Users/tpl_1121_6/20220204_142508.png');
    }
}